
<a href="{{ admin.generateUrl('sonata.admin.resource.list', {'id': object.id }) }}" class="{% if first %}btn btn-primary btn-small {% endif %}" title="{{ 'resources'|trans }}">
    <i class="icon-list-alt"></i>
    {{ 'resources'|trans }}
</a>
