
<a href="{{ admin.generateUrl('sonata.admin.teamprofile.list', {'id': object.id }) }}" class="{% if first %}btn btn-primary btn-small {% endif %}" title="{{ 'profiles'|trans }}">
    <i class="{% if first %}icon-white {% endif %}icon-list-alt"></i>
    {{ 'profiles'|trans }}
</a>
