
<a href="{{ admin.generateUrl('sonata.admin.bankholiday.list', {'id': object.id }) }}" class="{% if first %}btn btn-primary btn-small {% endif %}" title="{{ 'bankholidays'|trans }}">
    <i class="icon-list-alt"></i>
    {{ 'bankholidays'|trans }}
</a>
