
<a href="{{ path('act_resource_project_planning_show', { 'id': object.id, 'referer': app.request.uri }) }}">
    <i class="glyphicon glyphicon-fullscreen"></i>
    {{ "project.planning.advanced"|trans }}
</a>
